{
	"globals": {
    "moment": true,
    "rome": true,
    "jQuery": true,
    "ajaxurl": true,
    "WPURLS": true,
    "TE_CAL": true,
    "acf": true
  },
  "env": {
      "browser": true
  },
  "extends": "eslint:recommended"
}