.widget_termin {
    margin-bottom: 5px;
    margin-right: 20px;
    width: 220px;
}

.widget_termin.important .terminwidget-tag {

}

.terminwidget-tag {

}

.terminwidget-datum {

}

.terminwidget-titel {
    word-wrap: break-word;
}

.terminwidget-jahr {

}

.terminwidget-ort {
    word-wrap: break-word;
}

.terminwidget-uhrzeit {

}

.terminwidget-clear, .tfull-clear {
	padding: 0;
	margin: 0;
	height: 0;
	clear: both;
}


.tfull-tag {

}

.tfull-datum {

}

.tfull-jahr {

}

.tfull-uhrzeit {

}

.tfull-extra {

}

.tfull-titel {

}

.tfull-titel.important {

}

.tfull_termin {
}

.tfull-separator {
	height: 25px;
}

.tfull-ort {

}

.tfull-special {

}

.tfull-special p {
	margin: 0;
	padding: 0;
}

.tfull-readon {
    clear: both;
    text-transform: uppercase;
}

.tfull-h2 {
	
}

.no-a-format:link, .no-a-format:hover, .no-a-format:visited {
	color: inherit;
}