/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.termine-no-show {
	/* display: none; */
}

.duplicate-termine {
	padding: 5px 15px;
	background-color: #f1f1f1;
}

.tecal__edit-modal__container {
	width: 100%;
	height: 100vh;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	background: rgba(172, 172, 172, .5);
	z-index: 9999;
	margin-left: -20px;
	padding-right: 20px;
	opacity: 0;
	pointer-events: none;
	transition: opacity .3s ease;
}

.tecal__edit-modal__container.is-visible {
	opacity: 1;
	pointer-events: initial;
}

.tecal__edit-modal__new-title,
.tecal__edit-modal__edit-title {
	display: none;
}

.tecal__edit-modal__container.is-new .tecal__edit-modal__new-title {
	display: block;
}

.tecal__edit-modal__container.is-edit .tecal__edit-modal__edit-title {
	display: block;
}

.tecal__edit-modal__inner {
  width: 300px;
  background: #fff;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 0 10px 5px #aaa;
}

.tecal_edit-modal__submit {
	text-align: right;
	margin-top: 1.5em;
	margin-bottom: .5em;
	display: flex;
	justify-content: space-between;
}

.tecal_multi-input {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tecal_events_description {
	min-height: 100px;
}

input.halffat {
	width: 50%;
}

input.thirdfat {
	width: 33.3333%;
}

input.threethirdfat {
	width: 66.66666%;
}

table.new-termin {
	border: 0;
}

textarea.infos {
	width: 300px;
	height: 200px;
}

.duplicated-date {
    border-bottom: 2px solid #FFFFFF;
    padding: 10px 0;
}

.termine-input {
	width: 300px;
}

#titel.termine-input {
	font-size: 1.5em;
}

.termine-label {
	padding-right: 25px;
}

.datum, .date-input {
	color: #aaa !important;
}

#calendar {
	margin-top: 10px;
}

.opaque {
	opacity: 0.35;
}

#refreshing-calendar {
	display: inline-block;
	padding-left: 10px;
    padding-top: 15px;
}

.wp-list-table .column-col_term_ohne_uhrzeit {
	width: 10% !important;
}

.termin-inline-input {
	width: 100%;
}

.event-object {
	cursor: pointer !important;
}

.event-object-disabled {
	cursor: default !important;
}

#calendar-edit {
	padding: 10px;
	background-color: #f1f1f1;
	display: none;
}

.calendar-edit-container {
	float: left;
	margin-right: 10px;
	margin-bottom: 0;
    margin-top: 0;
}

.ui-datepicker {
	/* über die Admin-Leiste */
	z-index: 99999 !important;
}

.calendar-edit-label {
	color: #666;
	font-size: 0.8em;
}

.termin-calendar-input {
	width: 250px;
}

.fc-view {
	background-color: #FFFFFF;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }